html {
  user-select: none;
  margin: 0;
  padding: 0;
  background: #3c3c3c;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  /* overflow: hidden; */
}
#content {
  /* position: absolute; */
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  /* width: 100%; */
  /* height: 100%; */
  clear: both;
  color: white;
}
canvas {
  clear: both;
  border: 1px dotted yellow;
}
/* h3, br {
        display: none;
      }
      img {
        zoom: 0.5;
      } */
fieldset {
  float: left;
  width: 30%;
}
fieldset div {
  min-height: 9em;
}
fieldset span {
  position: absolute;
}
fieldset abbr {
  text-decoration: none;
  cursor: help;
}
fieldset img {
  max-width: 5em;
}
fieldset#obstacles img {
  cursor: pointer;
}
fieldset#obstacles img:hover {
  filter: brightness(1.5);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes translate {
  0%,
  100% {
    transform: translate(0px);
  }
  50% {
    transform: translate(200px);
  }
}
@keyframes hue-rotate {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
