html {
  user-select: none;
  margin: 0;
  padding: 0;
  background: #000;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}
#content {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
canvas {
}
